@import 'flowbite/dist/flowbite.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Noto Kufi Arabic';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/NotoKufiArabic.ttf');
}

html {
	font-family: 'Noto Kufi Arabic', sans-serif;
}
